<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings xdt:Transform="Replace">
    <add key="APP_FOR_OIC" value="Yes"/>
    <add key="SystemCode" value="SORIA"/>
    <!-- Case APP_FOR_OIC=Yes -->
    <add key="SubSystemCode" value="SORIA_BACK"/>
    <!--Case APP_FOR_OIC=No -->
    <!--<add key="SubSystemCode" value="SORIA_FRONT"/> -->
    
    <add key="SERVICELOG_URL" value="http://localhost:9999/Logging/ServiceLogger.svc"/>

    <add key="FS_TEMP" value="Temp"/>
    <add key="FS_ATTACH" value="AttachFile"/>
    <add key="FS_OIC" value="OIC"/>
    <add key="FS_RECEIPT" value="ReceiptFile" />

    <add key="PDFFilePath" value="~/PDF/"/>
    <add key="PDFFilePath_Temp" value="~/PDF/PDF_Temp/"/>
    <add key="PDFFilePath_OIC" value="~/PDF/PDF_OIC/"/>
    <add key="PDFFilePath_Users" value="~/PDF/PDF_Users/"/>
    <add key="ReportFilePath" value="~/Reports/"/>

    <add key="UploadFilePath" value="~/UploadFile/"/>
    <add key="UploadTempPath" value="~/UploadTemp/"/>
    <add key="UploadRecieveLicense" value="~/UploadFile/RecieveLicense/"/>

    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>

    <add key="RECIPIENTS_MAIL" value="fuse.freedom@gmail.com,ifiw_za@hotmail.com"/>

    <add key="EMAIL_CONTENTFILE_CONTACTUS_ADMIN" value="admin@oic.or.ch"/>
    <add key="EMAIL_SUBJECT_CONTACTUS" value="OIC"/>

    <add key="PAGE_SIZE" value="20"/>
    <add key="EXCEL_SIZE" value="10000"/>
    <add key="AgreementFilePath" value="../PDF/PDF_Agreement/"/>

    <add key="EmailOut" value="amsadmin@oic.or.th" />
    <add key="WebPublicUrl" value="" />

  </appSettings>
  <system.web>


    <authentication mode="Windows" xdt:Transform="Remove" />
    <httpRuntime maxRequestLength="102400" executionTimeout="3600" xdt:Transform="Replace" />

    <compilation targetFramework="4.0" xdt:Transform="Replace" >
      <assemblies>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportAppServer.DataDefModel, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.serviceModel>
    <behaviors xdt:Transform="Replace">
      <endpointBehaviors>
        <behavior>
          <dataContractSerializer maxItemsInObjectGraph="2147483646"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    
    <bindings xdt:Transform="Replace">

      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPaymentService" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IDataCenterService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IRegistrationService" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IExamService" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IApplicantService" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IPersonService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_ILicenseService" closeTimeout="00:01:00" openTimeout="00:05:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IAccountService" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>

      <wsHttpBinding>
        <binding name="basicHttpStream" receiveTimeout="00:10:00" sendTimeout="00:05:00" maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
        <binding name="basicHttpStream1">
          <security mode="None" />
        </binding>

        <binding name="basicHttpStream2" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" />
          </security>
        </binding>
      </wsHttpBinding>
      
    </bindings>
    <client xdt:Transform="Replace">
      <endpoint address="http://192.168.16.24/iasfileservice/FileTransferService.svc/FileService" binding="wsHttpBinding" bindingConfiguration="basicHttpStream" contract="FileService.IFileTransferService" name="basicHttpStream" />
      <endpoint address="http://192.168.16.24/iasws/Applicant/ApplicantService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IApplicantService" contract="ApplicantService.IApplicantService" name="BasicHttpBinding_IApplicantService" />
      <endpoint address="http://192.168.16.24/iasws/DataCenter/DataCenterService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataCenterService" contract="DataCenterService.IDataCenterService" name="BasicHttpBinding_IDataCenterService" />
      <endpoint address="http://192.168.16.24/iasws/Exam/ExamService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IExamService" contract="ExamService.IExamService" name="BasicHttpBinding_IExamService" />
      <endpoint address="http://192.168.16.24/iasws/License/LicenseService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILicenseService" contract="LicenseService.ILicenseService" name="BasicHttpBinding_ILicenseService" />
      <endpoint address="http://192.168.16.24/iasws/Payment/PaymentService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPaymentService" contract="PaymentService.IPaymentService" name="BasicHttpBinding_IPaymentService" />
      <endpoint address="http://192.168.16.24/iasws/Person/PersonService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPersonService" contract="PersonService.IPersonService" name="BasicHttpBinding_IPersonService" />
      <endpoint address="http://192.168.16.24/iasws/Registration/RegistrationService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRegistrationService" contract="RegistrationService.IRegistrationService" name="BasicHttpBinding_IRegistrationService" />
      <endpoint address="http://192.168.16.24/iasws/Account/AccountService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccountService" contract="AccountService.IAccountService" name="BasicHttpBinding_IAccountService" />
      <endpoint address="http://192.168.16.24/iasfileservice/EmailSmtpService.svc/EmailService" binding="wsHttpBinding" bindingConfiguration="basicHttpStream1" contract="EmailSmtpService.IEmailSmtpService" name="basicHttpStream1" />
      <endpoint address="http://192.168.16.24/iasws/FileManagement/FileService.svc/FileService" binding="wsHttpBinding" bindingConfiguration="basicHttpStream2" contract="FileManagement.IFileService" name="basicHttpStream2" />
    </client>
    
  </system.serviceModel>
  <!--<system.net>
        <mailSettings xdt:Transform="Replace" >
            <smtp from="amsadmin@oic.or.th">
                <network host="192.168.108.91" port="25" userName="ams@oic.or.th" password="ams123"/>
            </smtp>
        </mailSettings>
    </system.net>-->
</configuration>